<!-- BEGIN_INCLUDE(avalara:ping) -->
<avalara:ping
					account="avalaraAccount"
        		    license="avalaraLicense"
		    	    avalaraClient="avalaraClient"
					message="a ping Message" />
<!-- END_INCLUDE(avalara:ping) -->

<!-- BEGIN_INCLUDE(avalara:get-tax) -->
    <avalara:get-tax
    			 account="avalaraAccount" 
        		 license="avalaraLicense" 
        		 avalaraClient="avalaraClient"
    			 companyCode="some company code"
                 docType="PURCHASE_ORDER"
                 docCode="some doc code"
                 docDate-ref="2010-09-13T01:18:14-07:00"
                 salespersonCode="some sales person code"
                 customerCode="some customer code"
                 customerUsageType="some customer usage type"
                 discount="0.2"
                 purchaseOrderNo="some purchase order number"
                 exemptionNo="some exemption number"
                 originCode="some origin code"
                 destinationCode="some destination code"
                 detailLevel="TAX"
                 referenceCode="some reference code"
                 locationCode="some location code"
                 commit="false"
                 batchCode="some batch code"
                 currencyCode="some currency code"
                 serviceMode="LOCAL"
                 paymentDate-ref="2010-09-13T01:18:14-07:00"
                 exchangeRate="some exchange rate"
                 exchangeRateEffDate-ref="2010-09-13T01:18:14-07:00" >
                 
    <avalara:base-addresses>
        <avalara:base-address>
            <addressCode>some origin code</addressCode>
            <line1>some line 1</line1>
            <line2>some line 2</line2>
            <line3>some line 3</line3>
            <city>some city</city>
            <region>some region</region>
            <postalCode>some postal code</postalCode>
            <country>some country</country>
            <taxRegionId>3</taxRegionId>
            <latitude>some latitude</latitude>
            <longitude>some longitude</longitude>
        </avalara:base-address>
        <avalara:base-address>
            <addressCode>some destination code</addressCode>
            <line1>some line 1</line1>
            <line2>some line 2</line2>
            <line3>some line 3</line3>
            <city>some city</city>
            <region>some region</region>
            <postalCode>some postal code</postalCode>
            <country>some country</country>
            <taxRegionId>3</taxRegionId>
            <latitude>some latitude</latitude>
            <longitude>some longitude</longitude>
        </avalara:base-address>
    </avalara:base-addresses>
    <avalara:lines>
        <avalara:line>
            <no>some number</no>
            <originCode>some origin code</originCode>
            <destinationCode>some destination code</destinationCode>
            <itemCode>some item code</itemCode>
            <taxCode>some tax code</taxCode>
            <qty>#[groovy: new BigDecimal(3.0)]</qty>
            <amount>#[groovy: new BigDecimal(500.5)]</amount>
            <discounted>true</discounted>
            <revAcct>some rev acct</revAcct>
            <ref1>some reference 1</ref1>
            <ref2>some reference 2</ref2>
            <exemptionNo>some exemption number</exemptionNo>
            <customerUsageType>some customer usage type</customerUsageType>
            <description>some description</description>
            <taxOverride>#[groovy: [ 'taxOverrideType' : TaxOverrideType.TAX_AMOUNT,
                                     'taxAmount' : 10.0G ,
                                     'taxDate' : new Date() ,
                                     'reason' : 'some reason' ] ]
            </taxOverride>
            <taxIncluded>false</taxIncluded>
        </avalara:line>
    </avalara:lines>
    <avalara:tax-override>
        <taxOverrideType>TAX_AMOUNT</taxOverrideType>
        <taxAmount>#[groovy: new BigDecimal(9.3)]</taxAmount>
        <taxDate>#[groovy: new Date()]</taxDate>
        <reason>some reason</reason>
    </avalara:tax-override>
</avalara:get-tax>
<!-- END_INCLUDE(avalara:get-tax) -->

<!-- BEGIN_INCLUDE(avalara:adjust-tax) -->
    <avalara:adjust-tax
    			 account="avalaraAccount"
        		 license="avalaraLicense"
        		 avalaraClient="avalaraClient"
        		 adjustmentReason="0"
        		 adjustmentDescription="Reson for the adjustment"
    			 companyCode="some company code"
                 docType="PURCHASE_ORDER"
                 docCode="some doc code"
                 docDate-ref="2010-09-13T01:18:14-07:00"
                 salespersonCode="some sales person code"
                 customerCode="some customer code"
                 customerUsageType="some customer usage type"
                 discount="0.2"
                 purchaseOrderNo="some purchase order number"
                 exemptionNo="some exemption number"
                 originCode="some origin code"
                 destinationCode="some destination code"
                 detailLevel="TAX"
                 referenceCode="some reference code"
                 locationCode="some location code"
                 commit="false"
                 batchCode="some batch code"
                 currencyCode="some currency code"
                 serviceMode="LOCAL"
                 paymentDate-ref="2010-09-13T01:18:14-07:00"
                 exchangeRate="some exchange rate"
                 exchangeRateEffDate-ref="2010-09-13T01:18:14-07:00" >

    <avalara:base-addresses>
        <avalara:base-address>
            <addressCode>some origin code</addressCode>
            <line1>some line 1</line1>
            <line2>some line 2</line2>
            <line3>some line 3</line3>
            <city>some city</city>
            <region>some region</region>
            <postalCode>some postal code</postalCode>
            <country>some country</country>
            <taxRegionId>3</taxRegionId>
            <latitude>some latitude</latitude>
            <longitude>some longitude</longitude>
        </avalara:base-address>
        <avalara:base-address>
            <addressCode>some destination code</addressCode>
            <line1>some line 1</line1>
            <line2>some line 2</line2>
            <line3>some line 3</line3>
            <city>some city</city>
            <region>some region</region>
            <postalCode>some postal code</postalCode>
            <country>some country</country>
            <taxRegionId>3</taxRegionId>
            <latitude>some latitude</latitude>
            <longitude>some longitude</longitude>
        </avalara:base-address>
    </avalara:base-addresses>
    <avalara:lines>
        <avalara:line>
            <no>some number</no>
            <originCode>some origin code</originCode>
            <destinationCode>some destination code</destinationCode>
            <itemCode>some item code</itemCode>
            <taxCode>some tax code</taxCode>
            <qty>#[groovy: new BigDecimal(3.0)]</qty>
            <amount>#[groovy: new BigDecimal(500.5)]</amount>
            <discounted>true</discounted>
            <revAcct>some rev acct</revAcct>
            <ref1>some reference 1</ref1>
            <ref2>some reference 2</ref2>
            <exemptionNo>some exemption number</exemptionNo>
            <customerUsageType>some customer usage type</customerUsageType>
            <description>some description</description>
            <taxOverride>#[groovy: [ 'taxOverrideType' : TaxOverrideType.TAX_AMOUNT,
                                     'taxAmount' : 10.0G ,
                                     'taxDate' : new Date() ,
                                     'reason' : 'some reason' ] ]
            </taxOverride>
            <taxIncluded>false</taxIncluded>
        </avalara:line>
    </avalara:lines>
    <avalara:tax-override>
        <taxOverrideType>TAX_AMOUNT</taxOverrideType>
        <taxAmount>#[groovy: new BigDecimal(9.3)]</taxAmount>
        <taxDate>#[groovy: new Date()]</taxDate>
        <reason>some reason</reason>
    </avalara:tax-override>
</avalara:adjust-tax>
<!-- END_INCLUDE(avalara:adjust-tax) -->

<!-- BEGIN_INCLUDE(avalara:post-tax) -->
<avalara:post-tax 
					account="avalaraAccount" 
        		    license="avalaraLicense" 
        		    avalaraClient="avalaraClient"
					docId="some document id"
                    companyCode="some company code"
                    docType="SALES_ORDER"
                    docCode="some document code"
                    docDate-ref="2010-09-13T01:18:14-07:00"
                    totalAmount="1200"
                    totalTax="100"
                    commit="false"
                    newDocCode="some new document code" />
<!-- END_INCLUDE(avalara:post-tax) -->

<!-- BEGIN_INCLUDE(avalara:commit-tax) -->
<avalara:commit-tax 
					account="avalaraAccount" 
        		    license="avalaraLicense" 
        		    avalaraClient="avalaraClient"
					docId="some document id"
                    companyCode="some company code"
                    docType="SALES_ORDER"
                    docCode="some document code"
                    newDocCode="some new document code" />
<!-- END_INCLUDE(avalara:commit-tax) -->

<!-- BEGIN_INCLUDE(avalara:get-tax-history) -->
<avalara:get-tax-history 
						 account="avalaraAccount" 
        		    	 license="avalaraLicense" 
        		    	 avalaraClient="avalaraClient"
						 docId="some document id"
                         companyCode="some company code"
                         docType="SALES_ORDER"
                         docCode="some document code"
                         detailLevel="DOCUMENT" />
<!-- END_INCLUDE(avalara:get-tax-history) -->

<!-- BEGIN_INCLUDE(avalara:cancel-tax) -->
<avalara:cancel-tax 
					account="avalaraAccount" 
        		    license="avalaraLicense" 
		    	    avalaraClient="avalaraClient"
					docId="some document id"
                    companyCode="some company code"
                    docType="SALES_ORDER"
                    docCode="some document code"
                    cancelCode="UNSPECIFIED" />
<!-- END_INCLUDE(avalara:cancel-tax) -->

<!-- BEGIN_INCLUDE(avalara:validate-address) -->
<avalara:validate-address 
						  account="avalaraAccount" 
        		    	  license="avalaraLicense" 
		    	    	  avalaraClient="avalaraClient"
						  line1="435 Ericksen Ave"
                          line2="some line 2"
                          line3="some line 3" 
                          city="some city"
                          region="NE"
                          country="some country"
                          postalCode="some postal code"
                          addressCode="some address code"
                          taxRegionId="1"
                          latitude="26"
                          longitude="40"
                          textCase="DEFAULT"
                          coordinates="true"
                          taxability="false"
                          date-ref="2010-09-13T01:18:14-07:00" />
<!-- END_INCLUDE(avalara:validate-address) -->